<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="C.A.R.MuayThaiSeguimiento" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:theme="@style/MainTheme" android:label="C.A.R. Muay Thai"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>